.parent{
    display: flex;
   height: 100vh;
 
}

.routerParent{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.router{
    height: 85vh;
}
.header{
    height: 10vh;
}
footer{
    height: 5vh;
    background-color: black;
   
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}







